<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						">
	<description>spring配置文件整合jdb-orm配置实例</description>
	
	<!-- 必须配置, 配置sessionFactory注册器实例, 单例 -->
	<bean id="sessionFactoryRegister" class="com.douglei.orm.context.SessionFactoryRegister" scope="singleton" />
	
	<!-- 必须配置, 配置默认的数据源配置实例 -->
	<bean id="defaultConfiguration" class="com.douglei.orm.spring.ConfigurationWrapper" scope="prototype">
		<property name="configurationFile" value="jdb-orm.conf.xml"></property><!-- 必须配置 -->
		<property name="dataSource" ref="xxx"></property><!-- 可以不配置 -->
		<property name="mappingCacheStore" ref="xxx"></property><!-- 可以不配置 -->
	</bean>
	
	
	<!-- 多数据源也需要配置com.douglei.orm.spring.ConfigurationWrapper, 配置的方式和上面一致 -->
	<bean id="multiConfiguration1" class="com.douglei.orm.spring.ConfigurationWrapper" scope="prototype">
		<property name="configurationFile" value="xxxx.xml"></property><!-- 必须配置 -->
		<property name="dataSource" ref="xxx"></property><!-- 可以不配置 -->
		<property name="mappingCacheStore" ref="xxx"></property><!-- 可以不配置 -->
	</bean>
	
	<!-- 非必须配置, 配置redis -->
	<!-- redis连接池配置 -->
	<bean id="redisPoolConfig" class="redis.clients.jedis.JedisPoolConfig" scope="singleton">
		<property name="maxIdle" value="300" />  
		<property name="maxTotal" value="600" />  
		<property name="maxWaitMillis" value="1000" />  
		<property name="testOnBorrow" value="true" />  
	</bean>
	<!-- redis连接工厂 -->
	<bean id="redisStandaloneConfiguration" class="org.springframework.data.redis.connection.RedisStandaloneConfiguration" scope="singleton">
		<property name="database" value="0"></property>
		<property name="hostName" value="localhost"></property>
		<property name="port" value="6379"></property>
		<property name="password" value=""></property>
	</bean>
	<bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
		<constructor-arg name="poolConfig" ref="redisPoolConfig"></constructor-arg>
		<constructor-arg name=""></constructor-arg>
	</bean>
	<!-- redis操作对象 -->
	<bean id="redisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate" scope="singleton"> 
		<property name="connectionFactory" ref="jedisConnectionFactory" />  
	</bean> 
	
	
	<!-- 配置数据源, 获取SessionFactoryHandlerHolder实例 -->
	<bean id="sessionFactoryHandlerHolder" class="com.douglei.orm.spring.SessionFactoryRegisterHolder" scope="singleton"><!-- 必须配置 -->
		<property name="sessionFactoryRegister" ref="sessionFactoryRegister"></property><!-- 必须配置 -->
		<property name="defaultSessionFactory" value="defaultConfiguration"></property><!-- 必须配置 -->
		
		<!-- 配置多数据源, 非必须配置 -->
		<property name="sessionFactorys">
			<array>
				<ref bean="multiConfiguration1"/>
				<!-- 其他配置 -->
			</array>
		</property>
	</bean>
	
	
	<!-- 配置扫务组件的注册器实例 -->
	<bean id="transactionComponentRegistry" class="com.douglei.orm.spring.TransactionComponentRegistry" scope="singleton"><!-- 必须配置 -->
		<!-- 是否扫描所有符合添加的包, 不论是否在jar包中, 默认为false -->
		<property name="searchAll" value="false"></property>
		<!-- 指定要扫描的base package路径 -->
		<property name="transactionComponentPackages"><!-- 必须配置 -->
			<array>
				<value>com.douglei.services</value>
				<value>com.douglei.xxx.services</value>
			</array>
		</property>
	</bean>
	
	<!-- 配置销毁ProxyBeanContext的监听器 -->
	<bean id="destroyProxyBeanContextListener" class="com.douglei.orm.spring.DestroyProxyBeanContextListener" />
</beans>